* { margin: 0px; padding: 0px; box-sizing: border-box; }

.navbar {
    background-color: antiquewhite;
    z-index: 10;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(45, 29, 69);
    padding: 10px; }

.navbar:hover .fa { color: brown; }

.home { 
    display: flex;
    flex-direction: row; }

.main { 
    margin-top: 100px;
    padding: 2px; }

h1 { text-align: center; }

.vocabulary , .fruits , .vegetables , .kitchenTools , .nature , .bodyPart {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    
.categories , .aFruit , .aVegetable , .tools , .Nature , .aPart { 
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 10px; }

.title { 
    text-align: center;
    flex: 100%; 
    margin-bottom: 30px; }

button {
    color: white;
    padding: 10px;
    margin: 3px;
    width: 100px;
    height: 50px;
    cursor: pointer; }

img { 
    width: 100px; 
    height:90px; }

h3 { cursor: pointer; text-align: center; }

.hide { display: none !important; }

.organs {display: grid; place-items: center;}

.image {position: relative;} 

.anOrgan {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 30px;} 

.brain { top: 16px; left: 0px; }          .head { top: 21px; left: 340px; }
.eyes { top: 49px; left: 0px; }           .ears { top: 60px; left: 340px; }
.teeth {  top: 80px; left: 0px; }         .lungs { top: 182px; left: 340px; }   
.oesophagus { top: 120px; left: 0px; }    .heart{ top: 215px; left: 340px; }
.liver { top: 270px; left: 0px; }         .stomach { top: 270px; left: 340px; }
.kidney { top: 306px; left: 0px; }        .smallIntestine { top: 360px; left: 340px; }
.largeIntestine { top: 374px; left: 0px; }

.body {
    position: absolute;
    background-color: transparent;
    width: 55px;
    height: 25px;}

.neck { top: 2px; left: 0px; }     .shoulder { top: 17px; left: 390px; }  
.chest { top: 30px; left: 0px; }   .arm { top: 53px; left: 390px; }
.nipples { top: 62px; left: 0px; } .back { top: 82px; left: 390px; } 
.navel { top: 123px; left: 0px; }  .elbow { top: 109px; left: 390px; }
.thigh { top: 215px; left: 0px; }  .hip { top: 135px; left: 390px; } 
.knee { top: 254px; left: 0px; }   .butt { top: 165px; left: 390px; }  
.leg { top: 293px; left: 0px; }    .ankle { top: 340px; left: 390px; }
.toe { top: 370px; left: 0px; }    .heel { top: 368px; left: 390px; }
.waist { top: 105px; left: 185px; }                                 
.foot { top: 359px; left: 185px; }   
                                 
.face {
    position: absolute;
    background-color: transparent;
    width: 70px;
    height: 30px;}

.hair { top: 80px; left: 0px; }     .eyebrows { top: 140px; left: 375px; } 
.forehead { top: 120px; left: 0px; }.eyelashes { top: 176px; left: 375px; } 
.eyelid { top: 160px; left: 0px; }  .cheeks { top: 225px; left: 375px; }  
.nose { top: 200px; left: 0px; }    .jaw { top: 255px; left: 375px; } 
.nostrils { top: 241px; left: 0px; }.mouth { top: 285px; left: 375px; } 
.lips { top:281px; left: 0px; }     .chin { top: 315px; left: 375px; } 

.throat {
    position: absolute;
    background-color: transparent;
    width: 80px;
    height: 32px;} 
.incisors { top: 0px; left: 183px; } 
.tonsil { top: 204px; left: 0px; }   .canine { top: 103px; left: 356px; }
.tong { top: 260px; left: 0px; }     .uvula { top: 184px; left: 356px; }
.gum { top: 353px; left: 0px; }      .molars { top: 254px; left: 356px; }
.premolars { top: 301px; left: 356px; }

.hand {
    position: absolute;
    background-color: transparent;
    width: 110px;
    height: 30px;}

.middleFinger { top: 15px; left: 0px; }  .index { top: 37px; left: 321px; } 
.ringFinger { top: 65px; left: 0px; }  .nails { top: 80px; left: 321px; } 
.pinky { top: 114px; left: 0px; }       .thumb { top: 123px; left: 321px; }  
.palm { top: 164px; left: 0px; }    
.wrist { top: 213px; left: 0px; }
